    .wrapper {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;
      align-items: center;
      background: blue;
    }

    .svg-wrapper {
      width: 100%;
      overflow: hidden;
      -webkit-mask-image: url(border-radius.svg);
      mask-image: url(border-radius.svg);
    }

    .iframe-wrapper {
      width: 100%;
      /* This doesn't work, illustrational purpose only */
      border-radius: 13px;
    }

    iframe {
      width: 100%;
      /* This doesn't work, illustrational purpose only */
      border-radius: 13px;
    }
